/*表单部分 RESET 密码可见*/
.eye{
    display: inline-block;
    float: right;
    font-size: 20px;
    line-height: 48px;
    margin-right: 16px;
    padding: 0 8px;
}
label > i input{
    font-size: 14px;
    margin-top: 10px;
}
label > i input:focus{
    outline: none;
}
.phone-form input{
    width: 40%;
}
/*表单部分 RESET 验证按钮*/
.verify-btn{
    width: auto;
    height: 26px;
    float: right;
    font-size: 14px;
    padding: 1px 10px 0;
    margin-top: 12px;
    margin-right: 16px;
    border-color: #A9A9A9;
}
.verify-btn.disable{
    color: #AAA;
    border-color: #CCB !important;
    background: none;
    box-shadow: none;
}